:root{
    --black: "#434343";
    --white: "#FFFFFF";
    --grey: "#909090";
    --lightGrey: "#D0CFD2";
    --blue: "#2884FF";
    --lightBlue: "#e0ebff";
    --green: "#34A853";
    --lightGreen: "#e8faf0";
    --purple: "#7360f2";
    --lightPurple: "#f3ecff";
    --red: "#FF6370";
    --lightRed: "#ffe6ea";
    --yellow: "#fbcf5e";
    --lightYellow: "#FFF8E6"
}